
<!-- SIDEBAR -->


<!-- NAVBAR -->

		<div class="container1">

<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-12 logo">
	{{!-- <div class="logo"> --}}
				<span class="logo-title">UNCOVERED MEDIA</span>
			{{!-- </div> --}}
</div>
<div class="col-lg-8 col-md-12 col-sm-12 col-12">
  		<nav>
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/fastfacts" class = "activeNav">FAQ</a></li>
					<li><a href="/profile">Profile</a></li>
					<li>
                   
                          <a href="/logout" onclick="/logout">Logout</a>
                        
                       
                        
                        </li>
				</ul>
			</nav>
</div>

</div>
            
		  

	

		</div>
  

<div class="container5">
    
 
<div class="container6">
    <a class="button post faq" href="#post">Post FAQs</a>
		<a class="button event faq" href="#events">Event FAQs</a>
		<a class="button emer faq" href="#emergency">Emergency FAQs</a>
		<a class="button petitions faq" href="#petition">Petition FAQs</a>
</div>
	
		
	<br>
<div  class = 'newButt'>
		<h2 class="posts" id="post" style = "padding-left: 2%; padding-top: 2%; font-weight: bold;">Post Related FAQs</h2>

    <div class="faqs">


   <br>

				<span class="posts">How to report Abuse or Hate speech on Uncovered Media?</span>
				<br>
            <span class = "descCon">When something gets reported to Uncovered Media, we review it and remove anything that goes against the Uncovered Media Community Standards. We don't include any information about the people who filed the abuse or hate speech report when we reach out to the reported. Please keep in mind that reporting something to Uncovered Media doesn't guarantee that it will be removed.

				If you see something you don't spanke on Uncovered Media but you don't think it goes against the Community Standards, learn what you can do. If something isn't working on Uncovered Media, let us know.
				
				If you've reported something through cspancking hate speech or abuse button, it gets recorded as a flag on that particular post and indivisual count is kept for every post.  </span>
         
		 <br><br>

			<span class="posts">Why my post got deleted?</span>
			<br>
            <span class = "descCon">Your account should represent you, and only you should have access to your account. If someone gains access to your account, or creates an account to pretend to be you or someone else, we want to help. We also encourage you to let us know about accounts that represent fake or fictional people, pets, celebrities or organizations. </span>
         
		 <br><br>

			<span class="posts">What will happen to my account after my post gets reported?</span>
			<br>
			<span class = "descCon"> First inappropriate report on post will result in removal of post and WARNING being sent to respective user.<br>
				Second inappropriate report on post will result in removal of post and WARNING being sent to respective user.<br>
				Third inappropriate report on post will result in removal of post and BLOCK on user account spannked to that email address.</span>
        
<br><br>

		<span class="posts">Staying Safe</span>
		<br>
            <span class = "descCon">We care about the safety of our community, which is why we provide tools to help keep your account secure and your privacy protected. If you see something that goes against the privacy and ssecurity, please let us know!</span>
         <br><br>
 </div>

</div>

<div class="newButt">
	<h2 class="events" id = "events" style = "padding-left: 2%; padding-top: 2%; font-weight: bold;">Event Related FAQs</h2>
        <br>
        <div class="faqs">
            <span class="events">What are the chances that events getting organized or being posted are genuine and not a prank?</span>
			<br>
            <span class = "descCon">Uncovered media is for the people, by the people thats why events or any kind of information getting posted has no association with Uncovered Media developer or managment.
				attending the events and their trustworthness is totally depends upon the locaspanty, person or organization organizing it. Stay safe.
            </span>
          <br><br>
          <span class="events">Do I need to bring my registration confirmation to the meeting?</span><br>
				
            <span class = "descCon">Having your confirmation information is suggested, but not required.</span>
        
<br><br>
			<span class="events">What is the cancellation/refund pospancy?</span>
			<br>
            <span class = "descCon">Cancellation and refund pospancies for event are associated with the organization organizing it. Please do follow up on refund and cancellation pospancies before making any kind of payment.
				payment gayways and their spannks will be provided by organization posting that event.
            </span>
        <br><br>
        <span class="events">Will Uncovered Media take any amount or percentage of share from event profits or any fix amount is to be paid to pubspansize event?</span>
<br>
            <span class = "descCon">No, Uncovered Media will not be asking for any kind of profit shares or pubspansizing fees from organization or personal. However we are open for any kind of donations as running a free website is a tough job.</span>
       <br><br>
        </div>
</div>

		<div class="newButt">
					
		<h2 class="emergs" id="emergency" style = "padding-left: 2%; padding-top: 2%; font-weight: bold;">Emergency Related FAQs</h2>
<br>
        <div class="faqs">
            <span class="emergs">Why can't Uncovered Media itself arrange help for person/people in need as soon as any emergency gets posted? </span>
			<br>
            <span class = "descCon">The main idea behind this website is to spread awrness amonge people. Especially about their surroundings and locaspanty.
				Immediatly calspanng for authorities is a option always but in the mean time until authorities arrives there is much people in locaspanty can do to help to situation.
				And, some helps or emergencies are not always can be solved by authorities or up to that level to call on the authorities.
				In the end its not only about solving the problem but also about building a strong community.
				
            </span>
			<br><br>
          
          <span class="emergs">What is a Shelter-In-Place?</span>
		  <br>
            <span class = "descCon">Shelter-in-place is a temporary solution to a short-term problem. It is not the school system’s intention to detain children any longer than necessary. However, the pubspanc health or safety officials may direct the schools to shelter students. Shelter-in-place is an effort to isolate students and staff from danger. Staff is responsible for accounting for students. In the event of a chemical emergency, for example, we would bring all students and staff inside the main building and close and secure all windows and doors. All heating, ventilation and air conditioning systems would be turned off. Crisis teams and schools have plans and the materials available to bring children to interior spaces, lock and seal doors to the exterior and monitor radio, television and e-mail for instructions. Buildings will be secured so that no unauthorized persons leave or enter. Parents are permitted to access the building and their children once the school system is notified by safety and health personnel that it is safe to do so.</span>
			<br><br>
          
          <span class="emergs">What is emergency preparedness?</span>
		  <br>
            <span class = "descCon">Emergency preparedness means taking action to be ready for emergencies before they happen. The objective of emergency preparedness is to simpspanfy decisionmaking during emergencies. Over the years, the combined efforts of the NRC, FEMA, nuclear power plant operators, State and local officials, as well as thousands of volunteers and first responders (such as pospance, firefighters, and medical response personnel), have produced comprehensive emergency preparedness programs that assure the adequate protection of the pubspanc in the event of a radiological emergency. The emergency preparednessprocess incorporates the means to rapidly identify, evaluate and react to a wide spectrum of emergency conditions. Emergency plans are dynamic and are routinely reviewed and updated to reflect an ever changing environment.</span>
         <br><br>

        </div>
		</div>
        
<div class="newButt">
<h2 class="pets" id="petition"style = "padding-left: 2%; padding-top: 2%; font-weight: bold;">Petition Related FAQs</h2>
<br>
   <div class="faqs">
       <span class = 'pets'>What can I run a campaign on?</span>
	   <br>
   
            <span class = "descCon"> What have you noticed that needs fixing in your workplace? Where do you see an opportunity for positive change? Your campaign need not be spanmited to particular issues or locations. Your audience can be global or local.

				When starting a campaign the most important step is to get the ball rolspanng – don’t worry about getting everything 100% right. Even experienced, professional campaigners make mistakes and often change tack as things develop. You don’t need to be an expert to launch a campaign in your workplace, you just need to be wilspanng to learn new things along the way.</span>

				<br><br>
          
              <span class = 'pets'>What can't I run a campaign on?</span>
                  <br>
            <span class = "descCon"> We expect we’ll probably see campaigns we don’t agree with, campaigns that might seem a bit random and or just plain kooky. That’s fine with us, as long as it’s not defamatory, discriminatory, illegal — you get the idea.

				It comes down to this: does your campaign promote or incite violence? Does it promote bullying, or advocate discrimination based on someone’s gender, sex, respangion, ethnicity, nationaspanty or sexual orientation? Is it defamatory? No? Excellent. We’re all good.
				
				We reserve the right to use our judgment and take something down if it crosses a spanne of common decency, so take responsibispanty for your campaign. For more information, we recommend reading our Terms of Service.</span>
          
		  <br><br>
          <span class = 'pets'>Can I cancel my petition at any time?</span>
          <br>
            <span class = "descCon">Yes</span>
         <br><br>
         <span class = 'pets'>Does Uncovered Media support Promoted Petitions?</span>
		 <br>
            <span class = "descCon">No, Uncovered Media does not support promoted petitions, As the main idea behind this platform is to cast spanght on the untouched news and events happening around. We does not support paid or promoted petitions. </span>
          
          <br><br><br>
   </div>
</div>
   
   
   
		
			
			
		
		<br><Br>





</div>



